@model WebApplication2.Entities.Bill

@{
    ViewData["Title"] = "Bill Detail";
}

<div class="container mt-5">
    @Html.ActionLink("go back to orders", "OngoingOrders")
    @using (Html.BeginForm("BillDetail", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.BillId)
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Bill ID</th>
                    <th>Table ID</th>
                    <th>Bill Date</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Total Paid</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.BillId</td>
                    <td>@Model.TableId</td>
                    <td>@Model.BillDate.ToString("yyyy-MM-dd")</td>
                    <td>@Model.TotalAmount</td>
                    <td>@Model.Tax</td>
                    <td>@Html.TextBoxFor(m => m.AmountPaid, new { @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.PaymentMethod, new SelectList(Enum.GetValues(typeof(PaymentMethodType))), new { @class = "form-control" })</td>
                    <td>@Html.DropDownListFor(m => m.Status, new SelectList(Enum.GetValues(typeof(BillStatusType))), new { @class = "form-control" })</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
</div>